body {
    background-color: rgb(0, 0, 0);
}

.container{
    background-color:#caa4f4;
    color: rgb(0, 0, 0);
    padding: auto;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    border-radius: 5px;
    border-style: groove;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    border-radius: 5px;
    width: 200px;
    height: 25px;
}

button {
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(33, 0, 103);
    color: white;
    width: 50px;
    height: 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
ul li {
    background-color: #F4F0EA;
    color: #410087;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}